nav {
    background-color: #033257;
    padding: 5px;
}

nav a {
    color:white ;
    display: block;
    padding: 20px;
}

h1 {
    color: #F49BA2;
}

img {
    width: 150px;
    height: auto;
    border: 1px solid #033257;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 10px;
}